* {
    box-sizing: border-box;
}

.mainPageContainer {
    width: 100%;
    min-height: 100vh;
    background-color: #F9FAFB;
    display: flex;
    flex-direction: column;
}

.mainPageContainer .mainContent {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}

.mainPageContainer .leftContainer {
    width: 25%;
    max-width: 500px;
    min-height: calc(100vh - 80px);
    max-height: 100%;
}

.mainPageContainer .middleContainer {
    flex: 1 1 auto;
    min-width: 0;
    width: auto;
    margin: 0 0 0 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    margin-right: min(25%, 500px);
}

.mainPageContainer .rightContainer {
    width: 25%;
    max-width: 500px;
    height: 100vh;
    min-height: 100vh;
    position: fixed;
    top: 80px;
    right: 0;
    bottom: 0;
    overflow-y: auto;
}