.checkoutContainer {
    width: 100%;
    padding: 30px 30px;
    box-shadow:
        0 1px 2px rgba(15, 23, 42, 0.04),
        0 2px 4px rgba(15, 23, 42, 0.06),
        0 4px 8px rgba(15, 23, 42, 0.08);
    backdrop-filter: blur(18px);    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.checkoutContainer h1 {
    font-size: 22px;
    font-weight: 600;
    margin: 0 0 20px 0;  
}

.checkoutContainer .continueBtn {
    padding: 15px 0;
    border-radius: 5px;
    background-color: #0A45E4;
    color: #ffffff;
    border: 1px solid #0A45E4;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}

.checkoutContainer .saveQuoteBtn {
    padding: 15px 0;
    border-radius: 5px;
    border: 1px solid #0A45E4;
    color: #0A45E4;
    background-color: #ffffff;
    cursor: pointer;
    font-size: 14px;
}

.checkoutContainer button p {
  font-family: "Manrope", sans-serif;
    font-weight: 600;
}

.checkoutContainer p {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
}

.checkoutContainer .priceContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgb(206, 206, 206);
    border-bottom: 1px solid rgb(206, 206, 206);
    padding: 15px 0 15px 0;
}

.checkoutContainer .priceContainer h3 {
    font-size: 26px;
    margin: 0;
}

.checkoutContainer .priceContainer p {
    font-size: 16px;
    font-weight: 500;
}

.checkoutContainer .consContainer ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #333333;
}

.checkoutContainer .consContainer ul li {
    display: flex;
    align-items: center;
    gap: 10px;
}


.checkoutContainer .specificationContainer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 0 10px 0;
}


.checkoutContainer .specificationContainer span {
    display: flex;
    align-items: center;
    gap: 5px;
}

.checkoutContainer .specificationContainer h3 {
    margin: 0;
    font-size: 15px;
    font-weight: 600;
}

.checkoutContainer .specificationContainer ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkoutContainer .paymentInfo {
    font-size: 12px;
    color: #7a828d;
    margin: 10px 0;
    text-align: center;
}

.checkoutContainer .divider {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.checkoutContainer .paymentOptionsContainer {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 10px auto;
}
.checkoutContainer .paymentOptionsContainer img {
    width: 54px;
}