.mainContainer {
    width: calc(100% / 5 * 2);
    gap: 30px;
    display: flex;
    justify-content: right;
}

.innerContainer {
    width: 500px;
    display: flex;
    flex-direction: column;
    padding: 50px 50px 0 0;
}

label {
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-align: left;
}

.configureInput {
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid #cacaca;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.082);
    height: 40px;
    padding: 0;
}

.checkoutText {
  padding: 0;
  margin: 5px 0;
}

.buttonContainer {
  display: flex;
  gap: 15px;
}

.buttonContainer button {
    text-decoration: none;
    color: #000000;
    border: none;
    background-color: #00000000;
    border: 1px solid black;
    padding: 12px 30px;
    border-radius: 15px;
    margin-top: 10px;
}

.finishText {
  margin-top: 20px;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    text-align: left;
    margin-bottom: 30px;
}

.fileBtn input[type="file"] {
    display: none; /* Göm original input */
}

.fileBtn label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
    height: 45px;
    border: 1px dashed #cacaca;
    border-radius: 8px;
    color: #000000;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.082);
    cursor: pointer;
}

.uploadIcon {
    font-size: 18px;
}
