.mainHeaderContainer {
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    border-bottom: 1px solid rgb(236, 236, 236);
    display: flex;
    align-items: center;
    box-sizing: border-box;
    position: fixed;
    z-index: 1;
}

.mainHeaderContainer .innerContainer {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mainHeaderContainer .innerContainer img {
    width: 150px;
}

.mainHeaderContainer .innerContainer .signUpBtn {
    background-color: #0A45E4;
    color: #ffffff;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    cursor: pointer;
}

.mainHeaderContainer .innerContainer .signInBtn {
    background-color: #ffffff;
    color: #0A45E4;
    border: 1px solid #0A45E4;
    padding: 12px 20px;
    border-radius: 5px;
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    cursor: pointer;
}

.mainHeaderContainer .buttonContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.mainHeaderContainer .buttonContainer a {
    margin-right: 20px;
    color: #353535;
    text-decoration: none;
}

.mainHeaderContainer .languageContainer {
    margin-right: 20px;
    font-size: 18px;
    color: #353535;
    cursor: pointer;
}