.mainContainer {
    width: 100%;
    height: 500px;
    background-color: #ffffff;
    border: 1px solid #cacaca;
    border-radius: 5px;
}

.Label{
    margin: 0;
    text-align: center;
    padding-bottom: 700px;
}

.wrapper {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
